/* Colors */
$paragraph-color: #333333;
$main-hover-color: #979797;
$brand-main-color: #333333;
$sidebar-font-color: #979797;
$sidebar-color:#191919;
$sidebar-hover-color:#282828;
$sidebar-text-hover-color:#f5f5f2;

$main-background-color: #f5f5f2;
$section-background-color:#ffffff;
$button-color:#F58220;
$button-hover-color:#FFA200;
$hover-color:#F1F3F3;
$text-color:#9c9c9c;
$text-color-light:#E3E3E3;


/* Font sizes */
$paragraph-font-size: 15px;


/* Fonts */
$brand-font: 'Quicksand', sans-serif;
$paragraph-font: "Open Sans", Helvetica, Arial;


/* brekpoints */
$sm-width:767px;
$md-width: 768px;
$lg-width:992px;
$xl-width: 1024px;