@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "styleguide";

/*GENERAL*/
* {
  box-sizing: border-box;
  font-family: $brand-font;  
}
body{
	background-color: $main-background-color;
}
.button-section{
	background-color: $button-color;
	border-radius:2px;
	border:none;
	color:#ffffff;
	margin:20px;
	padding:10px;
}
.button-section:hover{
	background-color:$button-hover-color;
}
.container {
	background-color:$section-background-color;
	box-shadow: 2px 5px 8px #888888;
 	margin: auto;	
	padding:15px 15px 20px 15px;
	position:relative;
	top:85px;
	width: 95%;
 	z-index: -1;
	
	@include sm{
		width: 100%;
	}
}
.container-fluid {
  width: 100%;
}
.icon-sidebar, .button-icon{
	align-items:center;
	display: inline-block;
	fill:$sidebar-font-color;
	height: 15px;
	width: 15px;
}
.hr{
	border-bottom:1px $text-color-light solid;
	width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.sidebar .hr{
	border-bottom-color: #333333;
}

/*SIDEBAR*/
.icon-sidebar{
	float: left;
	margin:10px;
	z-index: 1;
}
.manager-photo{
	border-radius:50%;
	display: inline;
	height: 40px;
	width: 40px;
}
.nav-button{
	background-color:$sidebar-color;
	border:none;
	border-left: 6px solid $sidebar-color;
	color: inherit;
	height: 40px;
	line-height: 35px;
	text-align: left;
	width: 100%;
	vertical-align: middle;
}
.sidebar{
	background-color:$sidebar-color;
	color: $sidebar-font-color;
	height: 100%;
	position: fixed;
	top:60px;
	width: 16.6%;
	@include sm {
		display: none;
	}
}

/*NAVBAR*/
header{
	background-color:$section-background-color;
	height: 60px;
	margin-bottom: 2%;
	max-width: 1400px;
	position:fixed;
	text-align: right;
	width: 100%;
	.nav{
		display: inline;
		line-height: 45px;
		text-align: center;
	}

	@include sm {
		.navbar-xl{
			display:none;
		}
	}
	@include xl{
		.dropdown-button{
			visibility: hidden;
		}
	}
}
.arrow-down{
	height: 15px;
	width: 15px;
}
.button-header{
  background-color: $section-background-color;
  border:none;
  border-left:1px $text-color-light solid;
  color: $text-color;
  display: inline-block;
  height: 100%;
  line-height: 40px;
  min-width: 60px; 
  padding: 10px;
  text-decoration: none;  
  text-align: center;
}
.dropdown-button{
	background-color:inherit;
	border:none;
	color: inherit;
}
.icon-header{
	display: inline;
	fill:$text-color;
	height: 20px;
	width: 20px;
}
.logo{
	display: inline;
	margin:15px 5px 0 10px;
	max-width: 100px;
	max-height: 30px;
}
.nav{
	background-color:$sidebar-color;
	float: left;
	height: 60px;
	min-width: 16.6%;
}
.nav-button:hover{
	border-left:6px solid $button-hover-color;
	background-color:$sidebar-hover-color;
	color:$sidebar-text-hover-color;
	.icon-sidebar{
		fill:$sidebar-text-hover-color;
	}
}
.wallet-status{
	display: inline;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	margin:10px;
	text-align: center;
}

/*STATISTIC*/
.button-icon{
	fill:#ffffff;
}
.date-inputs{
	text-align: center;
	@include sm{
		input{
		display: block;
		margin:20px auto;
		}	
	}
}
.statistic{
	.statistic-table{
		margin:50px auto;
		width: 60%;
		th, td {  
	  		border-bottom: 1px solid #ddd;
	  		height: 50px;
		}	
		.empty-col{
			border-bottom:none;
			width: 50px;
		}
	}
	img{
		max-width: 60%;
		margin:auto;
		@include sm {
			width: 100%;
		}
	}
}

/*LINKS*/
.add-new-link{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 120px;
}
.links-table{
	margin:auto;
	p{
		font-weight: bold;
	}
	@include xl{
		width: 60%;
		.table-icon{
			visibility: hidden;
		}
	}
	@include lg {
		width: 80%;
	}
	@include md{
		width: 80%;
	}
	@include sm{
		width: 100%;
	}
	.trash{
		fill:$text-color;
		height: 20px;
		margin: 0 20px;
		width: 20px;
		@include xl{
			height: 15px;
			margin:0 15px;
			width: 15px;
			}	
	}
	.link{
		fill:$button-color;
		height: 20px;
		margin-left: 20px;
		width: 20px;
		@include xl{
		height: 15px;	
		margin-left: 15px;
		width: 15px;
		}
	}
	.column-3{
		width: 110px;
		@include xl{
		width: 90px;
		}	
	}
	th, td {
  		border-bottom: 1px solid #ddd;
  		height: 50px;
  	}
  	@include xl{
	  	tr:hover {
			background-color: $hover-color;
			.table-icon{
				visibility: visible;
			}
		}
	}
}
