@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "styleguide";


/*GENERAL*/
* {
  box-sizing: border-box;
  font-family: $brand-font;  
}
body{
	background-color: $main-background-color;
}


.button-section{
	background-color: $button-color;
	border-radius:2px;
	border:none;
	color:#ffffff;
	margin:20px;
	padding:10px;
}
.button-section:hover{
	background-color:$button-hover-color;
}
.button-cancel{
	background-color: $sidebar-font-color;
	border-radius:2px;
	border:none;
	color:#ffffff;
	margin:20px;
	padding:10px;
}
.button-cancel:hover{
	background-color:#BABABA;
}






.container {
	background-color:$section-background-color;
	box-shadow: 2px 5px 8px #888888;
 	margin: auto auto 30px;
 	
 		
 	padding-bottom:30px;
	position:relative;
	top:85px;
	width: 90%;
 	z-index: 1;
 		
	@include sm{
		width: 100%;
	}
}
.container-fluid {
  width: 100%;
}
.icon-sidebar, .button-icon{
	align-items:center;
	display: inline-block;
	fill:$sidebar-font-color;
	height: 15px;
	width: 15px;
}
.hr{
	border-bottom:1px $text-color-light solid;
	width: 100%;
	z-index:1;

}
.row {
  display: flex;
  flex-wrap: wrap;
}
.sidebar .hr{
	border-bottom-color: #333333;
}

/*MODALS*/


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;

  overflow: auto;
  padding: 30px;

  display: none;
}

.overlay.showm {
  display: flex;
}

.modalLogin, .modalMsg {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  display: none;
}


.modalLogout{
	max-width: 600px;
	min-width: 400px;
	min-height: 150px;
	margin: auto;
	background-color: #ffffff;
	position: relative;
	padding: 0;
	display: none;
	p{
		padding:30px;
		line-height: 60px;
		font-weight: bold;
	}

	.modal-buttons{
		display: flex;
		justify-content: flex-end;
	}
}

.modalLogout.showm, .modalLogin.showm, .modalMsg.showm {
  display: block;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}






/*SIDEBAR*/
.sidebar{
@include sm {
		display: none;
	}}



@include xl{	
.sidebar-sm{
			display: none;
		}	
	}
@include lg{	
.sidebar-sm{
			display: none;
		}	
	}
@include md{	
.sidebar-sm{
			display: none;
		}	
	}
	

.sidebar{
	background-color:$sidebar-color;
	color: $sidebar-font-color;
	height: 100%;
	width: 100%;
	position: fixed;
	top:60px;
	
	
	.sidebar-button{
	background-color:$sidebar-color;
	border:none;
	border-left: 6px solid $sidebar-color;
	color: inherit;
	height: 40px;
	line-height: 35px;
	text-align: left;
	width: 100%;
	vertical-align: middle;
	font-size: 12px;
	}
	.icon-sidebar{
		float: left;
		margin:10px;
		
	}
	h4{
			display: block;
		}
	.manager-panel{
		display: flex;
		justify-content:space-around;
		align-items:center;
		height: 60px;

	}
	.manager-photo{
		border-radius:50%;
		display: inline;
		height: 40px;
		width: 40px;
	}
}

.show{
	
	display: inline;
	min-width: 100%;
	min-height: 100%;
	background-color:$sidebar-color;
	color: $sidebar-font-color;
	z-index:3;
	top:45px;
	

	
	.sidebar-button{
	background-color:$sidebar-color;
	border:none;
	border-left: 6px solid $sidebar-color;
	color: inherit;
	height: 40px;
	line-height: 35px;
	text-align: left;
	width: 100%;
	vertical-align: middle;
	}
	.icon-sidebar{
		float: left;
		margin:10px;
		
	}
	h4{
			display: block;
		}
	.manager-panel{
		display: flex;
		justify-content: flex-start;
	}
	.manager-photo{
		border-radius:50%;
		display: inline;
		height: 40px;
		width: 40px;
		margin: 0 30px 0 15px;
	}




}
	

/*NAVBAR*/
header{
	background-color:$section-background-color;
	height: 60px;
	margin: 0 0 2% auto;
	position:fixed;
	text-align: right;
	width: 100%;
	z-index:2;
	.header-logo{
		display: inline;
		line-height: 45px;
		text-align: center;
		height: 100%;
		width: 16.66%;
	}

	.header-xl{
		display: inline-flex;
		justify-content: center;
  		align-items: baseline;
	}

	@include sm {
		background-color:$sidebar-color;
		.header-xl{
			display:none;
		}
	}
	@include xl{
		.dropdown-button{
			display: none;
		}
	}
	@include lg{
		.dropdown-button{
			display: none;
		}
	}
	@include md{
		.dropdown-button{
			display: none;
		}
	}

}

.button-header{
  background-color: $section-background-color;
  border:none;
  border-left:1px $text-color-light solid;
  color: $text-color;
  display: inline-block;
  height: 100%;
  line-height: 40px;
  min-width: 60px; 
  padding: 10px;
  text-decoration: none;  
  text-align: center;
}
.dropdown-button{
	background-color:inherit;
	border:none;
	height: 30px;
	margin:15px 50px 15px 0;
	padding: 5px;
	width: 30px;
}
.icon-header{
	
	fill:$text-color;
	height: 20px;
	width: 20px;
}
.logo{
	display: inline;
	margin:15px 5px 0 10px;
	max-width: 100px;
	max-height: 30px;
}
.header-logo{
	background-color:$sidebar-color;
	float: left;
	height: 60px;
	width: 16.66%;
}

.header-wallet-status{
	display: inline-flex;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	margin:10px;
	
}

.sidebar-button:hover{
	border-left:6px solid $button-hover-color;
	background-color:$sidebar-hover-color;
	color:$sidebar-text-hover-color;
	.icon-sidebar{
		fill:$sidebar-text-hover-color;
	}
}




/*STATISTIC*/
.button-icon{
	fill:#ffffff;
}

.calendar{
	display: flex;
	align-items:center;
	justify-content: center;
}

.chart{
	width: 60%;
	@include sm{
		width: 100%;
	}
	margin: auto;
}
.chart-legend{
	display: flex;
	justify-content:center;
	height: 40px;
	align-items:center;
	width: 60%;
	margin:auto;
}

.chart-wrapper{
	background-color:#F3F3F1;
	width: 120px;
	height: 40px;
	margin-left: 50px;
	display: flex;
	align-items:center;
	justify-content: center;
}

.chart-wrapper:hover{
	background-color:$section-background-color;
}
.date{
	
	padding:5px;
	margin:0;
	border:none;
	
}

#date-2{
	border-left: 1px $text-color-light solid;
	@include sm{
		border-top: 1px $text-color-light solid;
		border-bottom: 1px $text-color-light solid;
		border-left: none;


	}
}

.icon{
	display: inline;
	fill:$text-color;
	height: 15px;
	width: 15px;
}

.date-inputs{
	text-align: center;
	padding: 10px;
	border:1px $text-color-light solid;
	display: inline;
	margin:10px;
	@include sm{
		padding-top:0;
		input{
		display: block;
		margin:0 auto 5px;


		}	
	}
}
.point{
	
	width: 15px;
	height: 15px;
	border-radius:50%;
	
}

	.earned{
		background-color:#59B66D;
	}

	.ftd{
		background-color:#FF9A38;
	}
	.signups{
		background-color:#80BFCA;
	}


.statistics{

	.statistic-table{
		border-spacing: 0;
		margin:50px auto;
		width: 60%;
		@include sm {
			width: 100%;
		}
		
		}
		th, td {  
	  		border-bottom: 1px solid #ddd;
	  		height: 50px;
		}	
		.empty-col{
			border-bottom:none;
			width: 50px;
		}
	
	img{
		display: block;
		width: 100%;
		margin:auto;
	}
}

/*LINKS*/
.add-new-link{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 120px;
}
.links-table{
	border-spacing: 0;
	margin:auto;
	p{
		font-weight: bold;
	}
	@include xl{

		width: 60%;
		.table-icon{
			visibility: hidden;
		}
	}
	@include sm{
		width: 100%;
	}
	.trash{
		fill:$text-color;
		height: 20px;
		margin: 0 20px;
		width: 20px;
		@include xl{
			height: 15px;
			margin:0 15px;
			width: 15px;
			}	
	}
	.link{
		fill:$button-color;
		height: 20px;
		margin-left: 20px;
		width: 20px;
		@include xl{
		height: 15px;	
		margin-left: 15px;
		width: 15px;
		}
	}
	.column-3{
		width: 110px;
		@include xl{
		width: 90px;
		}	
	}
	th, td {
  		border-bottom: 1px solid #ddd;
  		height: 50px;
  	}
  	@include xl{
	  	tr:hover {
			background-color: $hover-color;
			.table-icon{
				visibility: visible;
			}
		}
	}

}
.active-page{
	border-left:6px solid $button-hover-color;
	.sidebar-button{
		border-left: 6px solid $sidebar-hover-color;
		background-color:$sidebar-hover-color;
		color:$sidebar-text-hover-color;
	}
	.icon-sidebar{
		fill:$sidebar-text-hover-color;}
}

