@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "styleguide";

/*GENERAL*/
* {
  box-sizing: border-box;
  font-family: $brand-font;  
}
body{
	background-color: $main-background-color;
}
.button-section{
	background-color: $button-color;
	border-radius:2px;
	border:none;
	color:#ffffff;
	margin:20px;
	padding:10px;
}
.button-section:hover{
	background-color:$button-hover-color;
}
.container {
	background-color:$section-background-color;
	box-shadow: 2px 5px 8px #888888;
 	margin: auto;	
	position:relative;
	top:85px;
	width: 95%;
 	z-index: 1;
 		
	@include sm{
		width: 100%;
	}
}
.container-fluid {
  width: 100%;
}
.icon-sidebar, .button-icon{
	align-items:center;
	display: inline-block;
	fill:$sidebar-font-color;
	height: 15px;
	width: 15px;
}
.hr{
	border-bottom:1px $text-color-light solid;
	width: 100%;
	z-index:1;

}
.row {
  display: flex;
  flex-wrap: wrap;
}
.sidebar .hr{
	border-bottom-color: #333333;
}

/*SIDEBAR*/
.sidebar{
@include sm {
		display: none;
	}}



@include xl{	
.sidebar-sm{
			display: none;
		}	
	}
@include lg{	
.sidebar-sm{
			display: none;
		}	
	}
@include md{	
.sidebar-sm{
			display: none;
		}	
	}
	

.sidebar{
	background-color:$sidebar-color;
	color: $sidebar-font-color;
	height: 100%;
	position: fixed;
	top:60px;
	width: 16.6%;
	
	.sidebar-button{
	background-color:$sidebar-color;
	border:none;
	border-left: 6px solid $sidebar-color;
	color: inherit;
	height: 40px;
	line-height: 35px;
	text-align: left;
	width: 100%;
	vertical-align: middle;
	font-size: 12px;
	}
	.icon-sidebar{
		float: left;
		margin:10px;
		
	}
	h4{
			display: block;
		}
	.manager-panel{
		display: flex;
		justify-content:space-around;
		align-items:center;
		height: 60px;

	}
	.manager-photo{
		border-radius:50%;
		display: inline;
		height: 40px;
		width: 40px;
	}
}

.show{
	
	display: inline;
	width: 100%;
	min-height: 100%;
	background-color:$sidebar-color;
	color: $sidebar-font-color;
	z-index:3;
	top:40px;
	
	
	.sidebar-button{
	background-color:$sidebar-color;
	border:none;
	border-left: 6px solid $sidebar-color;
	color: inherit;
	height: 40px;
	line-height: 35px;
	text-align: left;
	width: 100%;
	vertical-align: middle;
	}
	.icon-sidebar{
		float: left;
		margin:10px;
		
	}
	h4{
			display: block;
		}
	.manager-panel{
		display: flex;
		justify-content:space-around;
		align-items:center;

	}
	.manager-photo{
		border-radius:50%;
		display: inline;
		height: 40px;
		width: 40px;
	}


}
	

/*NAVBAR*/
header{
	background-color:$section-background-color;
	height: 60px;
	margin: 0 0 2% auto;
	position:fixed;
	text-align: right;
	width: 100%;
	z-index:2;
	.header-logo{
		display: inline;
		line-height: 45px;
		text-align: center;
		height: 100%;
		width: 16.64%;
	}

	

	@include sm {
		background-color:$sidebar-color;
		.header-xl{
			display:none;
		}
	}
	@include xl{
		.dropdown-button{
			visibility: hidden;
		}
	}
	@include lg{
		.dropdown-button{
			visibility: hidden;
		}
	}
	@include md{
		.dropdown-button{
			visibility: hidden;
		}
	}

}
.arrow-down{
	height: 15px;
	width: 15px;
}
.button-header{
  background-color: $section-background-color;
  border:none;
  border-left:1px $text-color-light solid;
  color: $text-color;
  display: inline-block;
  height: 100%;
  line-height: 40px;
  min-width: 60px; 
  padding: 10px;
  text-decoration: none;  
  text-align: center;
}
.dropdown-button{
	background-color:inherit;
	border:none;
	height: 20px;
	margin:15px 50px 15px 0;
	padding: 10px;
	width: 20px;
}
.icon-header{
	display: inline;
	fill:$text-color;
	height: 20px;
	width: 20px;
}
.logo{
	display: inline;
	margin:15px 5px 0 10px;
	max-width: 100px;
	max-height: 30px;
}
.header-logo{
	background-color:$sidebar-color;
	float: left;
	height: 60px;
	width: 16.6%;
}

.header-wallet-status{
	display: inline;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	margin:10px;
	text-align: center;
}

.sidebar-button:hover{
	border-left:6px solid $button-hover-color;
	background-color:$sidebar-hover-color;
	color:$sidebar-text-hover-color;
	.icon-sidebar{
		fill:$sidebar-text-hover-color;
	}
}



/*STATISTIC*/
.button-icon{
	fill:#ffffff;
}

.calendar{
	display: flex;
	align-items:center;
	justify-content: center;
}

.chart{
	width: 60%;
	margin: auto;
}
.chart-legend{
	display: flex;
	justify-content:center;
	height: 40px;
	align-items:center;
	width: 60%;
	margin:auto;
}

.chart-wrapper{
	background-color:#F3F3F1;
	width: 120px;
	height: 40px;
	margin-left: 50px;
	display: flex;
	align-items:center;
	justify-content: center;
}

.chart-wrapper:hover{
	background-color:$section-background-color;
}
.date{
	
	padding:5px;
	margin:0;
	border:none;
	
}

#date-2{
	border-left: 1px $text-color-light solid;
}

.icon{
	display: inline;
	fill:$text-color;
	height: 15px;
	width: 15px;
}

.date-inputs{
	text-align: center;
	padding: 10px;
	border:1px $text-color-light solid;
	display: inline;
	@include sm{
		input{
		display: block;
		margin:20px auto;
		}	
	}
}
.point{
	
	width: 15px;
	height: 15px;
	border-radius:50%;
	
}

	.earned{
		background-color:#59B66D;
	}

	.ftd{
		background-color:#FF9A38;
	}
	.signups{
		background-color:#80BFCA;
	}


.statistic{
	.statistic-table{
		border-spacing: 0;
		margin:50px auto;
		width: 60%;
		th, td {  
	  		border-bottom: 1px solid #ddd;
	  		height: 50px;
		}	
		.empty-col{
			border-bottom:none;
			width: 50px;
		}
	}
	img{
		display: block;
		max-width: 100%;
		margin:auto;
		@include sm {
			width: 100%;
		}
	}
}

/*LINKS*/
.add-new-link{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 120px;
}
.links-table{
	border-spacing: 0;
	margin:auto;
	p{
		font-weight: bold;
	}
	@include xl{
		width: 60%;
		.table-icon{
			visibility: hidden;
		}
	}
	@include lg {
		width: 80%;
	}
	@include md{
		width: 80%;
	}
	@include sm{
		width: 100%;
	}
	.trash{
		fill:$text-color;
		height: 20px;
		margin: 0 20px;
		width: 20px;
		@include xl{
			height: 15px;
			margin:0 15px;
			width: 15px;
			}	
	}
	.link{
		fill:$button-color;
		height: 20px;
		margin-left: 20px;
		width: 20px;
		@include xl{
		height: 15px;	
		margin-left: 15px;
		width: 15px;
		}
	}
	.column-3{
		width: 110px;
		@include xl{
		width: 90px;
		}	
	}
	th, td {
  		border-bottom: 1px solid #ddd;
  		height: 50px;
  	}
  	@include xl{
	  	tr:hover {
			background-color: $hover-color;
			.table-icon{
				visibility: visible;
			}
		}
	}
}
